<mat-toolbar class="app-header">
  <div class="logo-search-container">
    <button mat-icon-button [routerLink]="''">
      <img src="../../assets/logo.png" alt="logo" class="logo-button" />
    </button>

    <div class="search-container">
      <input
        placeholder="What do you want to find out?"
        class="search-input"
        [(ngModel)]="searchQuery"
        (keyup.enter)="onSearch()"
      />
      <button class="search-button" [routerLink]="''" (click)="onSearch()">
        <img src="../../assets/search_button.png" alt="search button" />
      </button>
    </div>

    <button mat-icon-button>
      <img
        src="../../assets/search_settings.png"
        alt="search settings button"
        class="settings-button"
      />
    </button>
  </div>

  <div class="user-info">
    <span class="username">Your Name</span>
    <button mat-icon-button>
      <img src="../../assets/login.png" alt="user login button" class="user-avatar" />
    </button>
  </div>
</mat-toolbar>
